html {
  font-family: 'Gabriela', serif;
  }
  
  body {
    width: 1900px;
    margin: 0 auto;
    
  }
  /* header styles */
  
  h1 {
    font-size: 4rem;
    text-align: center;
  }
  
  header p {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
  }
  
  /* section styles */
  .box{
    border: 5px;
    border-color: green;
  }
  section{
    margin-left: 240px;
  }

  section article {
    width: 33%;
    float: left; 
    margin-bottom: 50px;
  }
  
  section p {
    margin: 5px 0;
    
  }
  header{
    background-color:darkolivegreen;
    padding: 10px;
  }
  
  h2 {
    font-size: 2.5rem;
    letter-spacing: -5px;
    margin-bottom: 10px;
    width: 360px;
  }
  img{
    width: 360px;
    height: 480px;
  }